{% extends 'base.html' %} {% block content %} {% for category, message in
get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
<div class="asd">
  <h2>User {{g.user.username}} Is In!</h2>

  <!-- SEARCH BAR -->
  <div class="wrap">
    <form id="search-form">
      <div class="search">
        <input
          id="query"
          type="text"
          class="searchTerm"
          placeholder="What are you looking for?"
        />
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>

  <!-- RECIPE LIST  -->
  <ul id="recipe-list"></ul>
</div>
{% endblock %}
