{% extends 'base.html' %} {% set active_page = "recipes" %} {% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

<div class="recipe-wrapper">
  <div class="box1" style="background-image: url({{recipe.image}})"></div>
  <div class="box2">
    <h2>{{recipe.title}}:</h2>
    <p>{{recipe.instructions | safe}}</p>
  </div>
  <div class="box3">
    <h2>Ingredients:</h2>
    <p class="ing-added hidden">Groceries added</p>
    <form id="add-groc-form" action="/grocery-list/add" method="POST">
      <ul class="ks-cboxtags">
        {% for ingredient in recipe.extendedIngredients %}
        <li>
          <input
            type="checkbox"
            id="{{ingredient.id}}"
            value="{{ingredient.id}}"
            {%
            if
            ingredient.id
            in
            groc_ids%}
            checked
            {%
            endif%}
          /><label for="{{ingredient.id}}">{{ ingredient.name }}</label>
        </li>
        {% endfor %}
      </ul>
      <button class="form-button-add" type="submit">Add To Groceries</button>
    </form>
  </div>

  {% endblock %}
</div>
