{% extends 'base.html' %} 
{% set active_page = "profile" %}
{% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
<div class="center">
  <section class="header">
    <div>
      <h1>{{g.user.username}}'s Profile</h1>
    </div>
    <div>
      <p>Customise my kitchen!</p>
    </div>
    <div>
        <a href="/user/edit" type="button" id="edit-button"><p>Edit my info!</p></a>
    </div>
  </section>

  <div class="card-center">
    <div class="stats">
      <div class="info">
        <span class="label">Username</span>
        <span class="value">{{g.user.username}}</span>
      </div>
      <div class="info">
        <span class="label">Email</span>
        <span class="value">{{g.user.email}}</span>
      </div>
    </div>
  </div>

    <div class="card-footer">
      <div class="stats">
        <div class="stat">
          <span class="label">Favorites</span>
          <span class="value">{{ fav_count }}</span>
        </div>
        <div class="stat">
          <span class="label">Intolerances</span>
          <span class="value">0</span>
        </div>
        <div class="stat">
          <span class="label">Groceries</span>
          <span class="value">{{ groc_count }}</span>
        </div>
      </div>
    </div>
  </div>
 {% endblock %}
</div>
